@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
.grey{
    color: #585858;
}
.big-cnt{
    display: grid;
    align-items: center;
    padding: 0.7rem 1rem;
    grid-template-columns: max-content 20% 1fr 20% max-content;
    /* background-color: black; */
    background-image: url('./images/navbg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: max-content;
    width: 100%;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);

}
#mmicon{
    
    align-self: center;
    justify-self: center;
    opacity: 40%;
    margin: 0rem 1rem;
    transition: all 0.1s ease-in;
    height: 70%;
}
#menudd{
    background-color: transparent;
    outline: none;
    border: none;

}
#menudd::after{
   content: none;
}
#mmicon:hover{
    opacity: 100%;
}
#accdd{
    background-color: transparent;
    outline: none;
    border: none;

}
#accdd::after{
   content: none;
}
#accicon{
    align-self: center;
    justify-self: center;
    opacity: 40%;
    margin: 0rem 1rem;
    transition: all 0.1s ease-in;
    height: 70%;
}
#accicon:hover{
    opacity: 100%;
}
.btn-cnt{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.1rem 1rem;
}
.nav-btn{
    display: flex;
    margin: 0rem 0.5rem;
    align-self: center;
    align-items: center;
    background-color: rgba(255,255,255,0.3);
    padding: 0.5rem;
    border-radius: 10rem 10rem 10rem/ 10rem 10rem;
}
.nav-btn img{
    align-self: center;
    opacity: 40%;
    transition: all 0.1s ease-in;
}
.nav-btn img:hover{
    opacity: 100%;
    
}
.search-cnt{
    width: 100%;
    align-self: center;
    justify-self: center;
    align-items: center;
    padding: 0rem 1rem;
    height: 100%;
    border-radius:0.2rem 0.2rem 0.2rem/ 0.2rem 0.2rem ;
    background-color: rgba(255,255,255,0.3);
    display: grid;
    grid-template-columns: 1fr auto;
    box-shadow: -1px -1px 1px 0px rgba(255, 255, 255, 0.25) inset;

}
#search-text{
    display: flex;
    align-items: center;
    text-align: left;
    
    white-space: nowrap;
    overflow: hidden;
}
#search-text textarea{
    outline: none;
    border: none;
    width: 100%;
    resize: none;
    background-color: transparent;
    color: rgba(255,255,255,0.7);
}
#search-text textarea::placeholder{
    color: rgba(255,255,255,0.7);
}
.search-icon{
    opacity: 40%;
    align-self: center;
    justify-self: center;
    transition: all 0.1s ease-in;
}
.search-icon:hover{
    opacity: 100%;
    
}
.right-cnt{
    text-align: right;
    color: rgba(255,255,255,0.8);
    font-size: 1.2rem;
    padding-right: 1rem;
}
.right-cnt:hover{
    cursor: default;
}
.acc-cnt{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0rem 1rem;
}
